/* Estilos de Cards */

.block {
  background-color: var(--fondo-actividades);
  padding: 5% 3%;
}
.block h2,
.block h3 {
  text-align: center;
}
.title {
  margin: 60px;
}
.block h2 {
  color: var(--verde-base);
  font-size: var(--size-h2);
}
.container {
  width: 30%;
  margin: auto;
  padding: 1%;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}
.img {
  width: 100%;
}
.container__text h3 {
  font-size: var(--size-h3Sub);
  color: var(--verde-base);
}
.container__text p {
    font-size: var(--size-p);
    line-height: 30px;
}
/* ------MEDIA QUERIES--------- */

@media screen and (max-width: 767px) {
  .block {
    max-width: 100%;
  }
  .container__cards {
    flex-wrap: wrap;
  }
  .container {
    width: 100%;
  }
  .img {
    height: 80%;
  }
}