.container__clases {
    background-color: #efefef;
    margin-top: 100px;
    padding-bottom: 8%;
}
.clases {
    display: flex;
    width: 85%;
    margin: 0 10%;
    gap: 50px;
    background-color: #efefef;
}

.clases__card h3 {
    color: var(--verde-base);
    font-size: var(--size-h3Sub);
    text-align: center;
    margin-top: 80px;
}
.clases__card p {
    font-size: var(--size-p);
    margin-bottom: 10%;
}
.image {
    position: relative;
    
}
.link__float {
    position: absolute;
    width: 50%;
    top: 90%;
    left: 28%;
}
.link {
    margin-bottom: 35%;
    padding: 3% 10%;
    border-radius: 25px;
    background-color: var(--verde-base);
    color: #ffff;
    font-size: 1.1rem;
    font-weight: 600;
  }

  /* ------MEDIA QUERIES--------- */

@media screen and (max-width: 767px) {
    .container__clases {
        width: auto;
    }
    .clases {
        flex-wrap: wrap;
    }
    .img {
        width: 100%;
        height: auto;
    }
}