.container {
    display: flex;
}
.container__text {
    display: flex;
    flex-direction: column;
    margin: 12% 8%  8% 8%;
}
.container__text h2 {
    text-align: center;
    font-size: 2.8rem;
    color: var(--verde-base);
}
.container__text p {
    font-size: 1.3rem;
}
.container__img {
    margin: 9% 0 4% 0%;
}
/* -------MEDIA QUERIES-------- */
@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .container__img {
        margin: 0;
        max-width: 100%;
    }
    .img {
        max-width: 100%;
        height: auto;
    }
}