.container {
    display: flex;
}
.container__text {
    display: flex;
    flex-direction: column;
    margin: 12% 8%  8% 8%;
}
.container__text h2 {
    text-align: center;
    font-size: var(--size-h2);
    color: var(--verde-base);
}
.container__text p {
    font-size: var(--size-p);
}
.container__img {
    margin: 9% 0 4% 0%;
}
/* -------MEDIA QUERIES-------- */
@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .container__img {
        margin: 0;
        max-width: 100%;
    }
    .img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .container__img {
        margin: 0;
        max-width: 100%;
    }
    .img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .container__text {
        margin: 7% 2% 10% 2%;
    }
    .img {
        max-width: 650px;
        height: 450px;
        
    }
}