.container__portada {
  max-width: 100vw;
  height: 120vh;
  background-image: url(../assets/img/portada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 100px;
}
.container__portada h1,
.container__portada h2 {
  color: #ffff;
  position: absolute;
  left: 67%;
  top: 27%;
  font-size: 2.8rem;
  text-align: right;
}
.container__portada h2 {
  top: 40%;
  font-size: 1.7rem;
  font-weight: 400;
}
/* ----------MEDIA QUERIES----------- */
@media screen and (max-width: 767px) {
  .container__portada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.7)),
      url(../assets/img/portada.png);
    max-width: 100%;
    margin: 0;
    background-size: 350%;
    top: 0;
    height: 100vh;
  }
  .container__portada h1 {
    left: 0;
    right: 20px;
    font-size: 1.2rem;
    top: 60%;
  }
  .container__portada h2 {
    font-size: 1.1rem;
    right: 20px;
    top: 70%;
    color: rgb(255, 255, 255);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__portada {
    max-width: 100vw;
    margin: 0;
    background-size: 210%;
    top: 0;
    height: 110vh;
  }
  .container__portada h1 {
    left: 0;
    right: 20px;
    font-size: 2rem;
  }
  .container__portada h2 {
    font-size: 1.5rem;
    right: 20px;
    top: 40%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .container__portada h1 {
    left: 0;
    right: 20px;
    font-size: 2rem;
  }
  .container__portada h2 {
    font-size: 1.5rem;
    right: 20px;
    top: 40%;
  }
}
