.bg__img {
  position: absolute;
  z-index: 1;
  width: 99vw;
  height: auto;
  filter: brightness(70%);
}

.portada {
  color: #ffff;
  height: 1300px;
  position: relative;
  z-index: 100;
  text-align: center;
  padding-top: 10%;
  max-width: 100vw;
}
.portada h3 {
  font-size: 1.9rem;
}
.portada p {
  font-size: 1.3rem;
  font-weight: bold;
}
.container__table {
  display: flex;
  margin: auto;
  justify-content: center;
}
.container__table div {
  margin-top: 2%;
  border: solid 3px #ffff;
  padding: 5%;
}
.table__item {
  color: #ffff;
}
.subtitle h3 {
  text-align: center;
  font-size: var(--size-h2);
  color: var(--verde-base);
  margin: 6%;
}
.text {
  text-align: center;
  font-size: large;
  border: 2px solid;
  width: 95%;
  margin: 2% auto 7% auto;
  overflow-x: scroll;
}
.text h3 {
  margin: 4% 0;
}
.text p {
  margin-bottom: 6%;
}
.table__container {
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px 20px;
  margin: 0 auto;
}
.hora {
  border-bottom: 1px solid;
  font-weight: bold;
}
.hora ~ td {
  /* padding: 5px; */
  background-color: white;
  border-bottom: 1px solid;
}
.hora ~ td p:hover {
  color: var(--verde-base);
}
.días ~ th {
  border: 1px solid;
  padding: 10px;
  background-color: var(--verde-base);
  color: white;
  font-weight: 500;
}
.icon {
  border: none;
  background-color: white;
  color: var(--verde-base);
}
@media screen and (max-width: 767px) {
  .bg__img {
    display: none;
  }
  .container__portada {
    max-width: 100%;
    height: 120vh;
    margin: 0;
    background-image: url(../assets/img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320%;
    position: relative;
    top: 0;
  }
  .portada {
    max-width: 100%;
    margin: 0;
    background-size: 290%;
    top: 50px;
    height: 105vh;
  }
  .portada h3 {
    font-size: 1.5rem;
    margin: 10% auto;
  }
  .portada p {
    font-size: 1rem;
  }
  .container__table {
    max-width: 80%;
    flex-direction: column;
    backdrop-filter: brightness(90%);
  }
  .container__table div {
    margin-top: 0;
    border: none;
  }
  .p {
    text-align: center;
    color: #ffff;
    backdrop-filter: brightness(90%);
    width: 80%;
    margin: auto;
    padding: 1%;
  }
  .text {
    margin: 10% auto 30% auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bg__img {
    display: none;
  }
  .container__portada {
    max-width: 100%;
    height: 110vh;
    margin: 0;
    background-image: url(../assets/img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220%;
    position: relative;
    top: 0;
  }
  .portada {
    max-width: 100%;
    margin: 0;
    background-size: 290%;
    top: 50px;
    height: 105vh;
  }
  .container__table {
    max-width: 80%;
    flex-direction: row;
  }
  .container__table div {
    margin-top: 2%;
    border: solid 1px #ffff;
  }
  .subtitle {
    text-align: center;
  }
  .text {
    margin: 10% auto 30% auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .portada {
        height: 900px;
    }
    .text {
        margin: 10% auto 20% auto;
      }
}
