.planes {
  margin: 10% 0;
}
.title h2 {
  text-align: center;
  color: var(--verde-base);
  font-size: var(--size-h2);
  margin: 100px 0;
}
.table {
  width: 80%;
  margin: auto;
  border-spacing: 0;
}
.encabezados th {
  background-color: var(--verde-base);
}
.encabezados h3 {
  font-size: 1.8rem;
  color: #ffff;
}
.encabezados p {
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 2%;
}
.precios td {
  text-align: center;
  padding: 2%;
  font-size: 3.5rem;
  color: var(--verde-base);
  font-weight: 700;
  border: solid 1px;
}
.precios td::first-letter {
  font-size: 1.5rem;
}
.td {
  border: solid 1px var(--verde-base);
  padding-top: 50px;
}
.td p {
  padding-left: 6%;
  color: var(--verde-base);
  font-size: 1.2rem;
}
.td p:first-child {
  color: var(--verde-base);
  font-weight: 600;
}
.container__link {
  text-align: center;
  margin: 80px 0;
}
.link {
  margin-bottom: 35%;
  padding: 1% 5%;
  border-radius: 25px;
  background-color: var(--verde-base);
  color: #ffff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.8s;
}
.link:hover {
  color: var(--verde-base);
  background-color: #ffff;
  transition: 0.8s;
}
.block__link {
  width: 80%;
  text-align: right;
  margin: auto auto 150px auto;
  display: flex;
  justify-content: flex-end;
}

.block__link div {
  width: 150px;
  text-align: center;
  margin-top: 30px;
  background-color: #2c3e45;
  padding: 0.7%;
  color: #ffff;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 1s;
}
.block__link div:hover {
  color: #2c3e45;
  background-color: #ffff;
  transition: 1s;
  transform: scale(1.1);
}
/* ------MEDIA QUERIES--------- */

@media screen and (max-width: 767px) {
  .title h2 {
    font-size: var(--size-h2);
  }
  .precios td {
    font-size: 1.5rem;
  }
  .planes {
    margin: 10% 5%;
  }
  .table {
    width: auto;
  }
  .encabezados h3 {
    font-size: 1.2rem;
  }
  .encabezados p {
    font-size: 1rem;
  }
  .td p {
    font-size: 0.9rem;
  }
  .link {
    font-size: 0.8rem;
  }
}