.container_selector {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2%;
  border-radius: 20px;
  height: 300px;
}
.container_select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}

.select {
  width: 200px;
  border-radius: 5px;
  border: 0;
  padding: 7px;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button {
  margin: 20px;
  padding: 7px 18px;
  border-radius: 25px;
  border: none;
  background-color: var(--verde-base);
  color: #ffff;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.7s;
}
.button:hover {
  color: var(--verde-base);
  background-color: #ffff;
  border: 1px solid;
  transition: 0.7s;
}
